.inactivo{
    display: none !important;
}

.contenedor_principal{
    width: 600px;
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.contenedor_selectores{
    display: flex;
}

.activo{
    border-bottom: 2px solid  #26b1e7  !important;
    span{
        color:  #26b1e7  !important;
    }
}

.contenedor_iniciar_sesion{
    cursor: pointer;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid grey;
}

.contendor_iniciar_sesion_span{
    color: grey;
     font-weight: bold;

}

.contenedor_crear_cuenta{
    cursor: pointer;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid grey;
}

.contenedor_crear_cuenta_span{
    color: grey;
    font-weight: bold;
}

.contenedor_formulario{
    flex-direction: column;
    display: flex;
    margin: 40px 0 ;
}

.contenedor_formulario_bloque{
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: 10px;
}

.contenedor_formulario_input{
    border: solid 2px lightgrey;
    height: 25px;
    margin-top: 5px;
}

.contenedor_botones{
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    margin-top: 20px;
}

.contenedor_botones_input{
    border: solid 0px;
    width: 350px;
    height: 40px;
    background-color: #26b1e7 ;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}