.contenedor_iniciar_sesion, .contenedor_crear_cuenta{
    cursor: pointer;
    width: 50%;
    text-align: center;
    padding: 15px;
    border-bottom: 4px solid lightgray;
}

.contendor_iniciar_sesion_span, .contenedor_crear_cuenta_span{
    color: grey;
}

.contenedor_selector{
    width: 100%;
    margin-top: 20px;
}