.modal_body_contendorComentarios{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal_body_contendorComentarios_comentario{
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;
}
.modal_body_contendorComentarios_comentario:hover{
    transform: scale(1.02);
    transition: 0.2s;
}

.modal_body_contendorComentarios_agregarComentario{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: #26b1e7 solid 2px;
    transition: 0.2s;
    color: #26b1e7;
    cursor: pointer;
}
.modal_body_contendorComentarios_agregarComentario:hover{
    background-color: #26b1e7;
    color: white;
    transition: 0.2s;
    transform: scale(1.02);
}
.modal_body_contendorComentarios_agregarComentario:hover::after{
    content: "Agrega un comentario";
    font-weight: bold;
}