<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/formulario.css">
</head>

<body>
    <main class="main">
        <div class="contenedor_principal">

            <div class="contenedor_selectores">
                <div class="contenedor_iniciar_sesion activo">
                    <span class="contendor_iniciar_sesion_span">iniciar sesion</span>
                </div>
                <div class="contenedor_crear_cuenta">
                    <span class="contenedor_crear_cuenta_span">crear cuenta</span>
                </div>
            </div>

            <form class="contenedor_formulario contenedor_formulario_iniciarSesion" id="loginForm" action="/login" method="POST">

                <div class="contenedor_documentoIdentidad contenedor_formulario_bloque">
                    <label for="id">
                        Documento de identidad
                    </label>
                    <input type="text" id="id" name="id" required class="contenedor_documentoIdentidad_input contenedor_formulario_input" type="text" placeholder="1107837851">
                </div>

                <div class="contenedor_contrasena contenedor_formulario_bloque">
                    <label for="contrasena">
                        Contraseña
                    </label>
                    <input class="contenedor_contrasena_input contenedor_formulario_input" type="password" id="contrasena" name="contrasena" required placeholder="******">
                </div>

                <p id="error" style="color: red;"></p>

                <div class="contenedor_botones">
                    <button type="submit" class="contenedor_botones_input">Ingresar a mi cuenta</button>
                </div>
            </form>

            <form id="registroForm" action="/registro" method="POST" class="contenedor_formulario inactivo contenedor_formulario_crearUsuario">

                <div class="contenedor_correo_electronico contenedor_formulario_bloque">
                    <label for="id">
                        Numero de documento
                    </label>
                    <input class="contenedor_correo_eletronico_input contenedor_formulario_input" type="text" id="id" name="id" required placeholder="Numero de documento">
                </div>
                <div class="contenedor_correo_electronico contenedor_formulario_bloque">
                    <label for="nombre">
                        Nombre
                    </label>
                    <input class="contenedor_correo_eletronico_input contenedor_formulario_input" type="text" id="nombre" name="nombre" required placeholder="Nombre">
                </div>

                <div class="contenedor_correo_electronico contenedor_formulario_bloque">
                    <label for="apellido">
                        Apellido
                    </label>
                    <input class="contenedor_correo_eletronico_input contenedor_formulario_input" type="text" id="apellido" name="apellido" required placeholder="Apellido">
                </div>


                <div class="contenedor_correo_electronico contenedor_formulario_bloque">
                    <label for="">
                        Correo Electronico
                    </label>
                    <input class="contenedor_correo_eletronico_input contenedor_formulario_input" type="email" id="correo" name="correo" required placeholder="email@gmail.com">
                </div>

                <div class="contenedor_contrasena contenedor_formulario_bloque">
                    <label for="">
                        Contraseña
                    </label>
                    <input class="contenedor_contrasena_input contenedor_formulario_input" type="password" id="contrasena" name="contrasena" required placeholder="******">
                </div>
                <p id="error" style="color: red;"></p>
                <div class="contenedor_botones">
                    <button type="submit" class="contenedor_botones_input">Crear cuenta</button>
                </div>
            </form>

        </div>
    </main>
    <script>
        // document.getElementById('loginForm').addEventListener('submit', function(event) {
        //     var id = document.getElementById('id').value;
        //     var contrasena = document.getElementById('contrasena').value;
        //     var errorElement = document.getElementById('error');
        //     if (!id || !contrasena) {
        //         errorElement.textContent = 'Por favor, ingresa un nombre de usuario y una contraseña.';
        //         event.preventDefault(); // Evitar el envío del formulario
        //     } else {
        //         // Puedes agregar más validaciones aquí si es necesario
        //         // Por ejemplo, longitud mínima de la contraseña, caracteres especiales, etc.
        //         errorElement.textContent = ''; // Limpiar el mensaje de error
        //     }
        // });

        // document.getElementById('registroForm').addEventListener('submit', function(event) {
        //     var id = document.getElementById('id').value;
        //     var nombre = document.getElementById('nombre').value;
        //     var apellido = document.getElementById('apellido').value;
        //     var correo = document.getElementById('correo').value;
        //     var contrasena = document.getElementById('contrasena').value;
        //     var errorElement = document.getElementById('error');
        //     // Verificar que todos los campos estén llenos
        //     if (!id || !nombre || !apellido || !correo || !contrasena) {
        //         errorElement.textContent = 'Por favor, llena todos los campos.';
        //         event.preventDefault(); // Evitar el envío del formulario
        //     } else {
        //         errorElement.textContent = ''; // Limpiar el mensaje de error
        //     }
        // });
    </script>
    <script src="{{ url_for('static', filename='js/formulario/selector.js') }}"></script>
</body>

</html>