<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEV Technology</title>
    <link rel="stylesheet" href="../static/css/iniciarSesion.css">
</head>
<body>
    <div class="main">
        <div class="contenedor_principal">
       
            <div class="contenedor_selectores">
                <div class="contenedor_iniciar_sesion">
                    <span class="contendor_iniciar_sesion_span">iniciar sesion</span>
                </div>
                <div class="contenedor_crear_cuenta">
                    <span class="contenedor_crear_cuenta_span">crear cuenta</span>
                </div>
           </div> 
    
           <div class="contenedor_formulario">
    
                <div class="contenedor_correo_electronico">
                    <label for="">
                        Correo Electronico
                    </label>
                    <input class="contenedor_correo_eletronico_input" type="text" placeholder="email@gmail.com">
                </div>
    
                <div class="contenedor_contrasena">
                    <label for="">
                        Contraseña
                    </label>
                    <input class="contenedor_contrasena_input" type="password" placeholder="******">
                </div>
    
           </div>
           
           <div class="contenedor_botones">
                <button class="contenedor_botones_input">Ingresar a mi cuenta</button>
                <a class="contenedor_botones_input_link" href="">¿Olvido su contraseña?</a>
           </div>
        
        </div>
    </div>
    
</body>
</html>