<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productoGrande.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <h3>Logo...</h3>
        </div>
        <div class="header_buscador">
            <input type="text" class="header_buscador_input" placeholder="Type your text">
            <button class="header_buscador_button">
                <svg class="header_buscador_icono" aria-hidden="true" viewBox="0 0 24 24">
                    <g>
                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                    </g>
                </svg>
            </button>
        </div>
        <div class="header_botones">
           <a href="/registroProducto" class="header_botones_agregarProducto">
                <img src="../static/assets/btnAgregarProducto.png" alt="">
           </a> 
           <div class="header_botones_menuUser">
            <a href="/login">
                <img src="../static/assets/btnUser.svg" alt="">
            </a>
           </div> 
           <div class="header_botones_menuCarrito">
                <img src="../static/assets/btnMenuCarrito.svg" alt="">
           </div> 
        </div>
    </header>
    <main class="main">
        <div class="contenedor_pricipal">
            
        </div>
    </main>
    <script>
        window.rutaStatic = '{{ url_for("static", filename="") }}';
        window.rutaStaticUpload = '{{ url_for("static", filename="upload/") }}';
        window.rutaStaticAssets = '{{ url_for("static", filename="assets/") }}';
    </script>
    <script src="{{ url_for('static', filename='js/producto.js') }}"></script>
</body>
</html>
