
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

a{
  text-decoration: none;
  color: inherit;
}

input, select, textarea{
  border: solid 2px lightgrey;
  background-color: transparent;
  height: 40px;
  margin-top: 5px;
  border-radius: 5px;
}

input.error{
  border: solid 2px red;

}

label{
  margin-bottom: 5px;
}

h1,h2,h3,h4,h5,h6{
  color: #26b1e7 !important;
}