.detalleProducto{
    justify-content: center;
    flex-direction: row !important;
    gap: 20px;
    box-shadow: none;
    padding: 0;
    height: 600px;
}

.detalleProducto_contenedorImg{
    width: 700px;
    height: 100%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.detalleProducto_contenedorImg-img{
    width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: contain;
}

.detalleProducto_contenedorInformacion{
    width: 300px;
    height: 100%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.detalleProducto_contenedorInformacion_descripcion--nombre{
    font-size: 20px;
    font-weight: bold;
}

.detalleProducto_contenedorInformacion_descripcion--descripcion{
    font-size: 13px;
    color: gray;
}

.detalleProducto_contenedorInformacion_descripcion_contenedorContador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 8px;
    height: 50px;
    overflow: hidden;

}

.detalleProducto_contenedorInformacion_descripcion_contenedorContador_cantidad{
    margin-left: 10px;
    color: gray;
}

.detalleProducto_contenedorInformacion_descripcion_contenedorContador_contenedorBotones{
    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
    transition: 0.2s;
    button{
        transition: 0.2s;
    }
    button:hover{
        transition: 0.2s;
        color: white;
        background-color: #26b1e7;
    }
}

.detalleProducto_contenedorInformacion_contenedorInferior{
    display: flex;
    flex-direction: column;
    
}

.detalleProducto_contenedorInformacion_contenedorInferior--precio{
    font-size: 15px;
    font-weight: bold;
    color: #26b1e7;
    margin-bottom: 10px;
}

.detalleProducto_contenedorImg_reseñas{
        padding: 0 10px;
        height: 30px;
        gap: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        text-align: center;
        border-radius: 10px;
        bottom: 0;
        right: 0;
        background: #26b1e7;
        margin: 0 20px 20px 0;
        color: white;
        cursor: pointer;
        transition: 0.2s;
        font-weight: 600;
}

.detalleProducto_contenedorImg_reseñas:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.modal_body{
    max-height: 80vh;
    overflow-y: scroll;
}

.modal_body_calificacion{
    margin-top: 10px;
}
.modal_body_crearComentario_calificacion_input{
    display: none;
}