.detalleProducto{
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    box-shadow: none;
}

.detalleProducto_contenedorImg{
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.detalleProducto_contenedorImg-img{
    width: 500px;
    height: 500px;
    padding: 20px;
    object-fit: contain;
}

.detalleProducto_contenedorInformacion{
    width: 300px;
    height: 500px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.detalleProducto_contenedorInformacion_descripcion--nombre{
    font-size: 20px;
    font-weight: bold;
}

.detalleProducto_contenedorInformacion_descripcion--descripcion{
    font-size: 13px;
    color: gray;
}

.detalleProducto_contenedorInformacion_descripcion_contenedorContador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 8px;
    height: 50px;

}

.detalleProducto_contenedorInformacion_descripcion_contenedorContador_cantidad{
    margin-left: 10px;
    color: gray;
}

.detalleProducto_contenedorInformacion_descripcion_contenedorContador_contenedorBotones{
    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
    width: 24px;
}

.detalleProducto_contenedorInformacion_contenedorInferior{
    display: flex;
    flex-direction: column;
    
}

.detalleProducto_contenedorInformacion_contenedorInferior--precio{
    font-size: 15px;
    font-weight: bold;
    color: #26b1e7;
    margin-bottom: 10px;
}